.ToW-UpContainer{
    background-color: #fff;
}
.ToW-title{
    padding-top: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    color: #0A2540;;
    text-align: center;
}
.ToW-subtitle{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    /* line-height: 54px; */
    text-align: center;
    color: #000000;
}


.ToW-Main-Container{
    margin-top: 90px;
    width: inherit;
    padding:30px;
    background: #fff;
}
.ToW-grid-container{
    padding-bottom: 100px;
    padding-left: 40px;

}

.ToW-img{
    display: block;
    margin: auto;
    float: left;
    /* width: 55%; */
    width: 85%;
}

.ToW-grid-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    text-align: left;
}

.ToW-grid-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
}


@media (max-width: 600px) {
    
    .ToW-grid-title{
        font-size: 30px;
    }
    
    .ToW-grid-text{
        font-size: 18px;
    }
}

@media (max-width: 350px) {

    .ToW-grid-title{
        font-size: 25px;
    }
    
    .ToW-grid-text{
        font-size: 12px;
    }
}