.HeroA{
    margin-top: 110px;
    height:50vh;
    justify-content: center;
    align-items: center;
    width:100%;
}

.HeroA-img img{
    width: 100%;
    display: block;
    margin: auto;
    max-width: 500px;
    align-self: center;

}