.CEO{
    background-color: #F9F9FA;
}

.CEO-msg h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    color: #273468;
}

.CEO-msg p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #273468;
}

.CEO-img{
    max-width:80%;
    /* border: 1px solid #0000;
    display: block;
    margin:auto; */
}

.animation{
    background-color: #fff;
    height: 80vh;
}

.Work-culture{
    background-color: #F9F9FA;
    padding-top: 50px;
    padding-bottom: 50px ;
}

.Work-culture-img{
    max-width:80%;
    /* border: 1px solid #0000; */
    display: block;
    margin:auto;
}

.Work-culture-msg h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    color: #273468;
}

.Work-culture-msg p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #273468;
}

@media (max-width: 900px) {

    .CEO-msg h1{
        font-size: 29px;
        text-align: center;
    }
    
    .CEO-msg p{
        line-height: 22px;
    }

    .CEO-msg{
        text-align: justify;
    }

    .Work-culture-msg h1{
        font-size: 29px;
        text-align: center;
    }
    
    .Work-culture-msg p{
        line-height: 22px;
    }

    .Work-culture-msg{
        text-align: justify;
    }

    
    .Work-culture-img img{
        max-width:50%;
        /* border: 1px solid #0000; */
        display: block;
        margin:auto;
    }
    
}

@media (max-width: 350px) {

    .Waw-container{
        flex-direction:column;
    }
}