.Stats{
    background-color: #f9f9f9;
}

#Stats-text-all{
    display: flex;
    flex-direction: row;
    margin:auto
}

.Stats-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    padding:65px;
    color: #273468;
}

.guy{
    display: block;
    margin:auto;
}

.joinUs{
    padding: 20px;
    text-align: center;
}
.joinUs-btn{
    background: linear-gradient(92.23deg, #00BFFC 0%, #0094FF 102.83%);
    box-shadow: 0px 9px 30px 2px rgba(0, 168, 254, 0.25);
    border-radius: 3px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 30px;
}



@media (max-width: 900px) {
    #Stats-text-all{
        flex-direction: column;
        margin:auto
    }

    .Stats-text{
        text-align: center;
        padding:5px;
        font-size: 15px;
    }
}

@media (max-width: 350px) {

    
}